// 
// authentication.scss
//
.bg-pattern {
    // background-image: url("../images/bg.jpg");
    //background-image: url("../../../images/bg.jpg");
    background-color: black;
    background-size: cover;
    background-position: center;
}

.account-pages{
    background-color: black;
}
.saludo, .plushAcount{
    color: #635bff !important;
} .bg-primary{
    background-color: #635bff !important;
}
.btn-primary{
    background-color: #635bff !important;
}
.auth-logo {
    &.logo-light {
        display: $display-none !important;
    }

    &.logo-dark {
        display: $display-block !important;
    }
}